.icon {
    float: right;
}

table {
    max-width: 400px;
    table-layout: fixed;
    margin-left:auto; 
    margin-right:auto;
}

.playerCard {
    width: 400px;
}

.playerContent {
    height: 100px;
}

.addButton {
    width: 200px;
}